body{
    background-color: #455fa9;
}
.search_bar {
    position: absolute;
    left: 31.5%;
    bottom: 17%;
    border-radius: 1000px;

    border: 0px solid;
    width: 45%;
    height: 10%;
    min-width: 100px;
    max-width: 450px;
    min-height: (100/4.5)px;
    max-height: (450/4.5)px;
    padding-left: 25px;
    padding-right: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    margin: auto;
    font-size: 150%;
}
::placeholder {
    color: #3ec15b;
    font-size: 100%;
  }

.search_bar:hover,
.search_bar:focus {
    box-shadow: 0px 0px 5px #C2C2C2;
    background-color: white;
    outline: none;
}

#number-bar {
    position: absolute;
    left: 65%;
    bottom: 17%;
    border-radius: 1000px;

    border: 0px solid;
    width: 2%;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    margin: auto;
    font-size: 150%;
    text-align: center;
}
::placeholder2 {
    color: #3ec15b;
    font-size: 100%;
    text-align: center;
  }

#number-bar:hover,
#number-bar:focus {
    box-shadow: 0px 0px 5px #C2C2C2;
    background-color: white;
    outline: none;
}